body {
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
}

.card-header {
    font-weight: bold;
}

.card-body {
    font-size: 1.5rem;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main Heading Font */

.m-heading {

    font-family: "Roboto Slab", serif;

}

.text-white {

    color: white;

}

/* Main Container height*/

.main-container {

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background-image: url('Front Page5.jpg');

    background-attachment: fixed;

    background-size: cover;

}